[submodule "auth-service-moreau-mullie"]
	path = auth-service-moreau-mullie
	url = https://github.com/Ambroglio/auth-service-moreau-mullie
[submodule "service-offres-moreau-mullie"]
	path = service-offres-moreau-mullie
	url = https://github.com/Ambroglio/service-offres-moreau-mullie
[submodule "my-profile-moreau-mullie"]
	path = my-profile-moreau-mullie
	url = https://github.com/Ambroglio/my-profile-moreau-mullie
