[submodule "dev_house_auth_service"]
	path = dev_house_auth_service
	url = https://github.com/Ambroglio/dev_house_auth_service
[submodule "dev_house_offer_service"]
	path = dev_house_offer_service
	url = https://github.com/Ambroglio/dev_house_offer_service
[submodule "dev_house_front"]
	path = dev_house_front
	url = https://github.com/Ambroglio/dev_house_front
